.container{
    /* background-color: aqua; */
    height: 100%;
    /* min-height: 150px;
    max-height: 200px; */
    min-height: 120px;
    max-height: 150px;
    /* width: 100%;
    max-width: 400px; */
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2%;
    margin: 8px 0;
}
.header{
  display: flex;
  justify-content: space-between;
 flex: 2;
 font-weight: bold;
 font-size: large;
}
.header p{
  /* background-color: aqua; */
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: larger;
}
.body{
  flex: 3;
}
.body p{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
}
.footer{
  /* background-color: aquamarine; */
    flex: 1;
    display: flex;
    margin-left: 10%;
    font-size: 13px;
    gap: 4%;
    font-weight: 600;
}

.dropdownMenu {
  position: absolute;
  right: 8px;
  top: 9px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 150px;
  z-index: 100;
}

.dropdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.dropdownMenu li:hover {
  background-color: #f0f0f0;
}