.container{
    background-color: #FF6767;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.header{
   /* background-color: aliceblue; */
   padding: 6%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #ffffff;
}
.nav_menu{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
    width: 100%;
    padding: 6% 0;
}
.nav_item{
  /* background-color: rgb(91, 145, 192); */
  display: flex;
  padding: 8%;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: color 0.1s ease
}
.nav_item:hover{
    background-color: white;
    color: #FF6767;
  }

  /* Add styles for the selected item */
.selected {
  background-color: #ffffff;
  color: #FF6767; 
}